name: Deploy Izinto

on:
  push:
    branches: [ master ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - run: pnpm install
      - run: pnpm build

      - name: Deploy
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./dist

      - name: Publish
        uses: actions/deploy-pages@v1
